@font-face {
 font-family: "Bayon";
 src: url("/fonts/Bayon/Bayon.ttf") format("ttf");
}

@font-face {
 font-family: "Roboto";
 src: url("/fonts/Roboto/Regular.ttf") format("ttf");
}

@font-face {
 font-family: "Roboto";
 src: url("/fonts/Roboto/Roboto-Italic.ttf") format("ttf");
 font-style: italic;
}

@font-face {
 font-family: "Roboto";
 src: url("/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
 font-weight: bold;
}
