.groove-font-family-headings {
  font-family: $headings-font-family;
}

.groove-bg-gradient {
  background: linear-gradient(0deg, var(--bs-secondary), var(--bs-primary));
}

.groove-text-gradient {
  background: linear-gradient(270deg, var(--bs-secondary), var(--bs-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-select--groove {
  background-color: var(--bs-primary);
  color: white;
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
}

.groove-bg-wave {
  position: fixed;
  top: 30vh;
  z-index: -1;
}

.groove_cta {
  font-family: $headings-font-family;
  @extend .btn;
  @extend .btn-primary;
  @extend .bg-primary;
  @extend .border-primary;
  @extend .rounded-pill;
}

.groove-card {
  @extend .card;

  aspect-ratio: 1 / 1;
  overflow: hidden;

  // fallback
  @supports not (aspect-ratio: auto) {
    padding-top: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
  }

  h2 {
    line-height: 0.9;
  }
}

.groove-card--agenda {
  @extend .bg-dark;
  @extend .text-white;
  @extend .border-0;

  background-size: cover;
  filter: grayscale(1);

  &::before {
    z-index: -1;
    content: '';
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    backdrop-filter: grayscale(1);
    background: linear-gradient(to bottom, rgba(var(--bs-primary-rgb), 0.75), rgba(var(--bs-secondary-rgb), 0.75));
  }
}

.groove-card--agenda:hover {
  filter: grayscale(0);

  &::before {
    display: block;
  }
}

.groove-card--agenda__title {
  line-height: 0.8;
  margin-bottom: 0;
  margin-left: .5rem;
}

.groove-card--agenda__date {
  @extend .h1;

  line-height: 0.8;
  margin-bottom: 0;

  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.groove-card--media {
  .groove-card--media__image {
    filter: grayscale(1);
  }
}

.groove-card--news {
  .groove-card--news__image {
    filter: grayscale(1);
  }
}

.groove-card--news:hover {
  .groove-card--news__image {
    opacity: 0.25;
  }
}

.groove-event-practical-informations {
  @extend .mt-5;

  color: var(--bs-secondary);

  h2 {
    margin-bottom: 0;
  }
}

.groove-event-practical-informations__separator {
  @extend .display-2;
  @extend .fw-bold;

  margin-bottom: 0;
  line-height: 0.25;
}
