.groove-font-family-headings {
  font-family: $headings-font-family;
}

.groove-bg-gradient {
  background: linear-gradient(0deg, var(--bs-secondary), var(--bs-primary));
}

.groove-text-gradient {
  background: linear-gradient(270deg, var(--bs-secondary), var(--bs-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-select--groove {
  background-color: var(--bs-primary);
  color: white;
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
}

.groove-bg-wave {
  position: fixed;
  top: 30vh;
  z-index: -1;
}

.groove_cta {
  font-family: $headings-font-family;
  @extend .btn;
  @extend .btn-primary;
  @extend .bg-primary;
  @extend .border-primary;
  @extend .rounded-pill;
}

.groove-card {
  @extend .card;

  aspect-ratio: 1 / 1;

  .groove-card {
    h2 {
      line-height: 0.9;
    }
  }
}

.groove-card--agenda {
  @extend .bg-dark;
  @extend .text-white;
  @extend .border-0;

  background-size: cover;

  filter: grayscale(100%);
  transition: 0.3s ease-in-out all;
}

.groove-card--agenda:hover {
  filter: grayscale(0);
}

.groove-card--agenda__title {
  line-height: 0.8;
  margin-bottom: 0;
  margin-left: .5rem;
}

.groove-card--agenda__date {
  @extend .h1;

  line-height: 0.8;
  margin-bottom: 0;

  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
