body {
  min-height: 100vh;
}

.border-primary {
    border-color: var(--bs-primary) !important;
}
.border-secondary {
    border-color: var(--bs-secondary) !important;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 14rem;
  }
}
