$enable-rounded: false;

$font-family-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: 'Bayon', $font-family-sans-serif;

$nav-link-color: var(--bs-primary) !important;
$nav-link-hover-color: var(--bs-secondary) !important;
